<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <div>

    </div>
    <div id="dash-layout" class="row">
        <div class="col-1 d-none d-sm-block">
        </div>
        <div class="col-2 sec-1 d-none d-lg-block">
            <div class="sec-11">
                <span class="head">Followed Categories</span>
            </div>
            <div class="sec-12">
                <span class="head">Followed Peoples</span>
            </div>
        </div>

        <div class="col sec-2">
            <div class="row add-post-button" onclick="gotoAddPost()">
                add a new post
            </div>
            <div class="post-list">
                <div class="post">
                    post
                </div>
            </div>
        </div>

        <div class="col-md-3 col-lg-2 sec-3 d-none d-md-block">
            <div class="sec-31">
                <span class="head">Notifications</span>
            </div>
            <div class="sec-32">
                <span class="head">Messages</span>
            </div>
        </div>

        <div class="col-1 d-none d-sm-block">
        </div>
    </div>
</body>

</html>