<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <div id="messenger-layout" class="row">
        <div class="col-2 d-none d-sm-block"></div>
        <div class="col-3 sec-1 d-none d-md-block">
            <div class="search row p-2 pl-4">
                <input type="text" placeholder="Search"
                    aria-label="Search">
                    <i class="fas fa-search fa-md"></i>
            </div>
            <div class="head"> Messages</div>
        </div>

        <div class="col sec-2">
            <br>

        </div>

        <div class="col-2 d-none d-sm-block"></div>
    </div>
    <script type="text/javascript" src="../js/post.js"></script>
</body>

</html>