/* .row {
    color:violet;
    border: 1px solid;
} */

/* material icon sizes. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

body#index,html#index{
    height: 100%;
}

body,html{
    background-color: #0d131f;
    padding: 1px;
}

/* main background related css */
#home{
    background-image: url("/assets/feather.jpg");   
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

#home>.white-layer{
    background-color:rgba(51, 51, 51, 0.44);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* home page (index) nav related css */
#home-nav{
    height: 60px;
    background: rgba(62, 62, 62, 0.15);
    box-shadow: 0px 10px 40px rgb(0, 0, 0);
    z-index: 50;
    position: relative;
}

#home-nav>ul>li>a{
    color:#43ffbb;
    font-size: larger;
    font-family: 'Oleo Script', cursive;
}

#home-nav>ul>li>a:hover{
    text-decoration: underline;
}
/* home page section-1 animation */

#home>.white-layer>.sec1-anime{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 92vh;
    width: 85%;
    color: white;
    font-size: xx-large;
    font-weight: bold;
    margin-left: 15%;
}  

#home .sec1-anime>.logo-animate{
    animation-duration: 2s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-name: logo-animate;
    animation-delay: 1s;
}

@keyframes logo-animate{
    0% { opacity: 0;}
    15% { opacity: 0;}
    50%{ 
        transform: scale(1.5) translate3d(0,-30%,0);
        opacity: 1;
    }
    100% { transform: scale(1.5) translate3d(-42%,-30%,0);}
}

#home .sec1-anime>.h-line-animate{
    animation-duration: 2s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-name: h-line-animate;
    animation-delay: 0.8s;

}
@keyframes h-line-animate{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 0;
        transform: translate3d(400%,-30%,0);
    }
    50%{
        opacity: 0;
        height: 10px;
        border: 2px solid white;
        transform: translate3d(400%,-30%,0);
    }
    74%{
        opacity: 0.2;
        height: 50px;
        border: 2px solid white;
        transform: scale(2) translate3d(400%,-30%,0);
    }
    100%{
        height: 50px;
        border: 2px solid white;
        transform: scale(2) translate3d(-300%,-30%,0);
    }
}

#home .sec1-anime>.label-button{
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    transform: translateY(-35%);
}

#home .sec1-anime .text-animate>.letter{
    display: inline-block;
    line-height: 1rem;
}

#home .sec1-anime .join-btn{
    background-color: #43FFBB;
    border-radius: 8px;
    margin: 0px;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
}


/* sign in up html file related css */
#sign-in-up{
    background-color: #1A2130;
    border-radius: 25px;
    height: 84vh;
    color: white;
}

#sign-in-up .toggle-box{
    padding: 3px;
    width: 40%;
    margin: 3vh auto;
    float: right;
    position: relative;
    background-color: #2A3747;
    box-shadow: 0px 5px 2px #15191C;
    border-radius: 30px; 
}

#sign-in-up .toggle-box>.btn-layer{
    top: 0;
    left: 0;
    position: absolute;
    width: 50%;
    height: 100%;
    background:#43FFBB;
    border-radius: 30px;
    transition: .5s ease-in-out;
    box-shadow: 0px 5px 2px #15191C;
}

#sign-in-up .toggle-box .toggle-btn{
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    font-size: 1rem;
    font-weight:400;
    letter-spacing: 0rem;
    margin-inline: 4%;
}
#sign-in-up .toggle-box .toggle-btn:nth-child(1){
    color: #0d131f;
}

#sign-in-up #carousel-side,
#sign-in-up .form-side{
    height: 74vh;
}

#sign-in-up #carousel-side .carousel-inner {
    max-width: 83%;
}
#sign-in-up .form-side{
    overflow-x: hidden; 
    transition: all 0.5s ease-in-out;
}

#sign-in-up .sign-in-up-form{
    width: 200%;
    display: flex;
    position: relative;
    top: 5%;
    transition: all 0.5s ease-in-out;
}

#sign-in-up .sign-in-up-form>.signin-form-div{
    top: 5%;
}

#sign-in-up .sign-in-up-form>.signin-form-div,
#sign-in-up .sign-in-up-form>.signup-form-div{
    transition: all 1s ease-in-out;
}

#sign-in-up .sign-btn{
    background-color: #43FFBB;
    border-radius: 30px;
    font-weight: 400;
    letter-spacing: 0.05rem;
    font-size: medium;
    text-transform: none;
    color: #0d131f;
}
#sign-in-up .create-btn{
    text-decoration: underline;
}
#sign-in-up .create-btn:hover,
#sign-in-up .forget-btn:hover
{
    color: #43FFBB;
    cursor: pointer;
}



/*bootstrap md form related css */
.form-control,
.form-control:focus{
    color: white;
}

.md-form .prefix.active,
.md-form label.active,
.md-form input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
.md-form input[type="password"]:not(.browser-default):focus:not([readonly]) + label
{
    color:#43FFBB;
}

.md-form .prefix{
    color: grey;
}

.md-form input[type="email"]:not(.browser-default).valid,
.md-form input[type="email"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="password"]:not(.browser-default).valid,
.md-form input[type="password"]:not(.browser-default):focus:not([readonly])
{
        border-bottom: 1px solid #43FFBB;
        -webkit-box-shadow: 0 1px 0 0 #43FFBB;
        box-shadow: 0 1px 0 0 #43FFBB;
        
}

/* main page top nav-1 related css */

#nav-one{
    background: #181D27;
    box-shadow: 0px 10px 10px #000000;
    position: relative;
    z-index: 1000;
}

#nav-one img{
    background-color:#181D27;
    position: relative;
    left: 10px;
    height: 35px;
}


/* main page top nav-2 related css */
#nav-two{
    background: #1A2130;
    color: white;
    box-shadow: 0px 7px 7px #000000;   
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#nav-two>.col{
    height: 50px;
    overflow: hidden;
    padding: 0px;
    cursor: pointer;
}

#nav-two>.col>span{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

#nav-two>.col>span:nth-child(1){
    color:rgba(255, 255, 255, 0.3);
    font-size: 32px;

}

#nav-two .active span:nth-child(1){
    color:#43FFBB;
}


#nav-two>.col>span:nth-child(2){
    background-color:#43FFBB;
    border-radius: 15px 15px 0px 0px;   
    color: #1A2130 !important;
    text-decoration: none;
    font-family:'Poppins',sans-serif;
    font-size: 1rem;
}

#nav-two>.col:hover span{
    transform: translateY(-100%);
}

#nav-two>.col.tab{
    background: #212B3E;
    margin: 0.5%;
    margin-top: 15px;
    border-radius: 15px 15px 0px 0px;
}