/* .row {
    color:violet;
    border: 1px solid;
} */

/* material icon sizes. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* main page top nav-1 related css */

#nav-one{
    background: #181D27;
    box-shadow: 0px 10px 10px #000000;
    position: relative;
    z-index: 1000;
}

#nav-one img{
     background-color:#181D27;
     position: relative;
     left: 10px;
    height: 35px;
}

/* main page top nav-2 related css */
#nav-two{
    background: #1A2130;
    color: white;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#nav-two>.col{
    height: 70px;
    overflow: hidden;
}

#nav-two>.col>span{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

#nav-two>.col>span:nth-child(1){
    color:#1abc9c;
    background-color:rgba(255,255,255,0.5);
    font-size: 32px;

}

#nav-two>.col>span:nth-child(2){
    background-color:#1abc9c;
}

#nav-two>.col>span:nth-child(2)>a{
    color: white;
    text-decoration: none;
    font-family:'Poppins',sans-serif;
    font-size: 18px;
}

#nav-two>.col:hover span{
    transform: translateY(-100%);
}